* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.join-block {
  margin-top: 50%;
}

input[type='text']:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
    max-width: none;
    min-width: 0;
    padding: 0 20px;
  }
}